{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-6 mx-auto border rounded pt-4">
      <h3 class="alert alert-light border rounded" style="text-align: center;">Create an Account</h3>
      <form action="/signup" method="POST">
        {% csrf_token %}
        
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {% endif %}

        <!-- First Name -->
        <div class="form-group">
          <label for="">First Name</label>
          <input required
            type="text"
            name="firstname"
            id=""
            value="{{values.first_name}}"
            class="form-control form-control-sm"
            placeholder="Enter your First Name"
            aria-describedby="helpId"
          />
        </div>

        <!-- last Name -->
        <div class="form-group">
          <label for="">Last Name</label>
          <input required
            type="text"
            name="lastname"
            id=""
            value="{{values.last_name}}"
            class="form-control form-control-sm"
            placeholder="Enter your Last Name"
            aria-describedby="helpId"
          />
        </div>

        <!-- phone number -->
        <div class="form-group">
          <label for="">Phone Number</label>
          <input required
            type="tel"
            name="phone"
            id=""
            value="{{values.phone}}"
            class="form-control form-control-sm"
            placeholder="Enter your phone number with country code (+91-98XXXXXX12)"
            aria-describedby="helpId"
          />
        </div>

        <!-- email -->
        <div class="form-group">
          <label for="">Email</label>
          <input required
            type="email"
            name="email"
            id=""
            value="{{values.email}}"
            class="form-control form-control-sm"
            placeholder="example@gmail.com"
            aria-describedby="helpId"
          />
        </div>

        <!-- password -->
        <div class="form-group">
          <label for="">Password</label>
          <input required
            type="password"
            name="password"
            id=""
            class="form-control form-control-sm"
            placeholder="*********"
            aria-describedby="helpId"
          />
        </div>

        <div class="form-group">
          <input required
            type="submit"
            class="btn btn-sm btn-info"
            value="Create an Account"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
